<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<!-- Cabecera -->

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Administrador</title>
</head>

<!-- Cuerpo -->

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>

            <div class="row mt-4">
                <div class="col">
                    <!-- Create new event button -->
                    <a th:href="@{/org/create-event}" class="btn btn-primary me-2">
                        <i class="bi bi-plus-circle me-2"></i>Create New Event
                    </a>
                    <!-- View events button -->
                    <a th:href="@{/events}" class="btn btn-primary me-2">
                        <i class="bi bi-list me-2"></i>View Events
                    </a>
                </div>
            </div>
            <div class="container">
                <h1 class="mt-5">Usuarios</h1>

                <!-- Tabla usuarios -->
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre & Apellidos</th>
                            <th>Roles</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">1</td>
                            <td th:text="${user.firstName + ' ' + user.lastName}">Nombre</td>
                            <td>
                                <ul>
                                    <li th:text="${user.roles}">Role</li>
                                </ul>
                            </td>
                            <td>
                                <!-- Formulario toggle enable-->
                                <form th:action="@{'/admin/toggle/' + ${user.id}}" th:method="post">
                                    <button th:if="${user.enabled}" type="submit"
                                        class="toggle btn btn-danger">Deshabilitar</button>
                                    <button th:unless="${user.enabled}" type="submit"
                                        class="toggle btn btn-primary">Habilitar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <!-- Script -->
    <script th:src="@{/js/admin.js}"></script>
</body>

</html>