<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<!-- Cabecera -->
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Eventos - Exchange Connect</title>
    <link rel="stylesheet" th:href="@{/css/create-event.css}">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <main class="flex-shrink-0 mb-5">
        <div class="container">
            
            <!-- Event Creation Form -->
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="mb-0" th:text="${event != null and event.id != null ? 'Edit Event' : 'Create New Event'}">Crear Nuevo Evento</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{${event != null and event.id != null ? '/events/' + event.id + '/update' : '/events/created'}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="eventName" class="form-label">Nombre del Evento</label>
                            <input type="text" class="form-control" id="eventName" name="name" required th:value="${event?.name}">                        </div>
                        <div class="mb-3">
                            <label for="eventDescription" class="form-label">Descripción</label>
                            <textarea class="form-control" id="eventDescription" name="description" rows="3" required th:text="${event != null ? event.description : ''}"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="eventDate" class="form-label">Fecha de inicio</label>
                            <input type="datetime-local" class="form-control" id="eventDate" name="date" required
                                th:value="${event != null and event.date != null 
                                    ? #temporals.format(event.date, 'yyyy-MM-dd''T''HH:mm') 
                                    : #temporals.format(T(java.time.LocalDateTime).now(), 'yyyy-MM-dd''T''HH:mm') }">
                        </div>
                        <div class="mb-3">
                            <label for="eventEnd" class="form-label">Fecha de fin</label>
                            <input type="datetime-local" class="form-control" id="eventEnd" name="ending" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventLocation" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" id="eventLocation" name="location" required th:value="${event?.location}">
                        </div>
                        <div class="mb-3">
                            <label for="eventAforo" class="form-label">Capacidad</label>
                            <input type="number" class="form-control" id="eventAforo" name="aforo" min="1" pattern="\d+" step="1" required>
                        </div>
                        <div class="mb-3">
                            <label for="eventCategory" class="form-label">Categoría</label>
                            <select id="eventCategory" name="category" class="form-control">
                                <option value="" disabled th:selected="${event == null || event.category == null}">Selecciona una categoría</option>
                                <option value="CULTURA_Y_ARTE" th:selected="${event?.category?.name() == 'CULTURA_Y_ARTE'}">Cultura y Arte</option>
                                <option value="MUSICA_Y_ESPECTACULOS" th:selected="${event?.category?.name() == 'MUSICA_Y_ESPECTACULOS'}">Música y Espectáculos</option>
                                <option value="OCIO_Y_VIDA_NOCTURNA" th:selected="${event?.category?.name() == 'OCIO_Y_VIDA_NOCTURNA'}">Ocio y Vida Nocturna</option>
                                <option value="NATURALEZA_Y_AIRE_LIBRE" th:selected="${event?.category?.name() == 'NATURALEZA_Y_AIRE_LIBRE'}">Naturaleza y Aire Libre</option>
                                <option value="GASTRONOMIA" th:selected="${event?.category?.name() == 'GASTRONOMIA'}">Gastronomía</option>
                                <option value="BIENESTAR_Y_DESARROLLO_PERSONAL" th:selected="${event?.category?.name() == 'BIENESTAR_Y_DESARROLLO_PERSONAL'}">Bienestar y Desarrollo Personal</option>
                                <option value="JUEGOS_Y_ENTRETENIMIENTO" th:selected="${event?.category?.name() == 'JUEGOS_Y_ENTRETENIMIENTO'}">Juegos y Entretenimiento</option>
                                <option value="DEPORTES_Y_ACTIVIDADES_FISICAS" th:selected="${event?.category?.name() == 'DEPORTES_Y_ACTIVIDADES_FISICAS'}">Deportes y Actividades Físicas</option>
                                <option value="NETWORKING_Y_PROFESIONALES" th:selected="${event?.category?.name() == 'NETWORKING_Y_PROFESIONALES'}">Networking y Profesionales</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Fuente de la imagen</label>
                            <div class="mb-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="imageSource" id="urlSource" value="url" checked>
                                    <label class="form-check-label" for="urlSource">URL</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="imageSource" id="fileSource" value="file">
                                    <label class="form-check-label" for="fileSource">Archivo local</label>
                                </div>
                            </div>
                            
                            <div id="urlInput" class="mb-3">
                                <label for="imageUrl" class="form-label">URL de la imagen</label>
                                <div class="input-group">
                                    <input type="url" class="form-control" id="imageUrl" name="imageUrl" th:value="${event?.imageUrl}">
                                    <button type="button" class="btn btn-outline-secondary" id="fetchImg">Buscar Imagen</button>
                                </div>
                                <img class="preview mt-2" id="ver" alt="Preview" style="display:none; max-width: 100%;"/>
                            </div>
                            
                            <div id="fileInput" class="mb-3" style="display: none;">
                                <label for="imageFile" class="form-label">Cargar archivo</label>
                                <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*">
                                <img class="preview mt-2" id="ver2" alt="Preview" style="display:none; max-width: 100%;"/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" 
                                th:text="${event != null and event.id != null ? 'Actualizar Evento' : 'Crear Evento'}">
                            Crear Evento
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script th:src="@{/js/create-event.js}"></script>
</body>
</html>