<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Eventos - Exchange Connect</title> 
    <link rel="stylesheet" th:href="@{/css/events.css}">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <section class="hero">
            <div class="container">
                <h1 class="display-4 fw-bold">Eventos Disponibles</h1>
                <p class="lead">Explora y únete a eventos increíbles cerca de ti.</p>
            </div>
        </section>

        

        <section class="container py-5">
            <h2 class="text-center text-success">Próximos Eventos</h2>
            <section class="event-list">
                <div class="event-card" th:each="event : ${events}">
                    <img th:if="${event.imageUrl}" 
                        th:src="@{${event.imageUrl}}"
                        class="img-fluid" 
                        th:alt="${event.name}"
                        loading="eager"
                        onload="this.style.opacity='1'"
                        onerror="this.src='[[/img/default-pic.jpg]]'"
                        style="opacity: 0; transition: opacity 0.3s;">
                    <div class="event-details">
                        <h3 th:text="${event.name}">Event Name</h3>
                        <p th:text="${event.description}">Description</p>
                        <span class="event-date" th:text="${'Fecha: ' + #temporals.format(event.date, 'dd/MM/yyyy')}">Date</span>
                        <a th:href="@{/events/{id}(id=${event.id})}" class="btn btn-primary">
                            Ir al evento
                        </a>
                        

                    </div>
                </div>
            </section>
        </section>

    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
</html>


