<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<!-- Cabecera -->
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Org</title>
</head>

<!-- Cuerpo -->
<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Organisation</h1>
            
            <div class="row mt-4">
                <div class="col">
                    <!-- Create event button-->
                    <a th:href="@{/org/create-event}" class="btn btn-primary me-2">
                        <i class="bi bi-plus-circle me-2"></i>Create New Event!
                    </a>
                    <!-- View events button-->
                    <a th:href="@{/events}" class="btn btn-secondary">
                        <i class="bi bi-list me-2"></i>View Events
                    </a>
                </div>
            </div>
        </div> 
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>