<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<!-- Cabecera -->
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <link rel="stylesheet" th:href="@{/css/event.css}">
    <title>Perfil de Usuario</title>
</head>

<!-- Cuerpo -->
<body class="d-flex flex-column h-100 bg-light">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0" style="background-color: rgba(0, 128, 0, 0.5);">
        <div class="container mt-5 mb-4 profile-container">
            <h1 class="text-center">Perfil de <span th:text="${user.username}">Usuario</span></h1>
            
            <!-- Datos usuario -->
            <div class="mt-4 mb-4">
                <h4>Datos de Usuario</h4>
                <label for="username">Nombre de usuario</label>
                <input id="username" class="form-control" th:value="${user.username}" />

                <label for="email">Correo electrónico</label>
                <input id="email" class="form-control" value="user@gmail.com" />

                <button id="save" class="btn btn-success btn-green">Guardar Información</button>
            </div>

            <!-- Panel foto de perfil -->
            <div class="row">
                <div class="mb-3">
                    <label class="form-label">Image Source</label>
                    <div class="mb-2">
                        <!-- URL -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="imageSource" id="urlSource" value="url" checked>
                            <label class="form-check-label" for="urlSource">URL</label>
                        </div>
                        <!-- Local file -->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="imageSource" id="fileSource" value="file">
                            <label class="form-check-label" for="fileSource">Local File</label>
                        </div>
                        <!-- Image URL / Search image button -->
                        <div id="urlInput" class="mb-3">
                            <label for="imageUrl" class="form-label">Image URL</label>
                            <input type="url" class="form-control" id="imageUrl" name="imageUrl">
                            <button id="fetchImg" class="btn btn-info btn-green">Buscar imagen</button>
                            <img class="preview" id="ver" alt="Preview" />
                        </div>
                        <!--Upload image -->
                        <div id="fileInput" class="mb-3" style="display: none;">
                            <label for="imageFile" class="form-label">Upload Image</label>
                            <input type="file" class="form-control" id="imageFile" name="imageFile" accept="image/*">
                            <img class="preview" id="ver2" alt="Preview" />
                        </div>
                        
                        <!-- Formulario subir imagen-->
                        <form method="post" th:action="@{/user/__${user.id}__/pic}" enctype="multipart/form-data">
                            <button id="postAvatar" class="btn btn-primary btn-green">Actualizar foto de perfil</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
    <script th:src="@{/js/ajax-demo.js}"></script>
    <script th:src="@{/js/user.js}"></script>
</body>

</html>