body {
    background-color: #e8f5e9;
}
.profile-container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 10px 15px;
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.preview {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: block;
}

.btn-green {
    background-color: #448147;
    color: white;
    width: 100%;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn-green2 {
    background-color: #70cb76;
    width: 100%;
    margin-top: 10px;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-green:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#urlInput, #fileInput {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-check-inline {
    margin-right: 15px;
}

.btn-green {
    margin-top: 10px;
}